# Grav CMS
cache/
logs/
backup/
tmp/
user/data/
user/pages
images/
.DS_Store
*.log
vendor/

# Node.js / JS build tools
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Build artifacts
dist/
build/
public/
output/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & Editor
.idea/
.vscode/
*.sw?