<footer class="w-full bg-black px-16 py-16 text-white">
    <div class="flex flex-row">
        <div class="text-white basis-full">
            <h2 class="text-md sm:text-sm md:text-xl lg:text-3xl text-white mb-4">Want to stay in touch?</h2>
            <p class="font-light">Let's work together on your next project. Let's discuss how I can assist you.</p>
        </div>
        <div class="text-white basis-auto inline-flex">
            <a class="btn bg-black border border-solid border-white text-white m-2 max-w-fit">Get in touch</a>
            <a class="btn bg-primary-100 text-white m-2 max-w-fit">More projects</a>
        </div>
    </div>
    <div class="pt-16">
        <p class="text-sm font-light">{{ "now"|date("Y") }} {{ site.title }}. All rights reserved.</p>
    </div>
</footer>