<footer class="w-full h-full  px-4 sm:px-6 lg:px-8 flex flex-col flex-auto bg-black text-white">
    <div class="flex flex-col lg:flex-row flex-auto py-8">
        <div class="text-white flex-col flex-auto mb-6 content-center">
            <h2 class="text-2xl lg:text-3xl text-white mb-4">Want to stay in touch?</h2>
            <p class="font-light">Let's work together on your next project. Let's discuss how I can assist you.</p>
        </div>
        <div class="text-white flex-col flex lg:flex-row ">
            <div class="content-center">
                 <a class="btn inline-block bg-black border border-solid border-white text-white m-1 h-fit">Get in touch</a>
                <a class="btn inline-block bg-primary-50 text-white m-2 h-fit">More projects</a>
            </div>
           
        </div>
    </div>
    <div class="py-4">
        <p class="text-sm font-light">{{ "now"|date("Y") }} {{ site.title }}. All rights reserved.</p>
    </div>
</footer>