{# ✅ Hero Section #}
<section 
    class="hero-height mx-auto text-center bg-gradient-to-b from-white to-gray-100">
    <div class="mx-auto text-center">
        <h1 class="hero-font hero-size text-primary-100">
            {{ page.header.title }}
        </h1>
    </div>
</section>