{% extends 'partials/base.html.twig' %}

{% block content %}

        {% if page.header.title %}
            <div class="p-site hero-font">
                {% include 'partials/hero.html.twig' %}
            </div>
        {% endif %}

        {% if page.content %}
            <div class="p-site">
                {{ page.content|raw }}
            </div>
        {% endif %}

        {% if page.header.profile %}
            <div class="p-site">
                {% include 'partials/profile.html.twig' %}
             </div>
        {% endif %}
    
{% endblock %}