<div class="container">

  <!-- custom text field content from default.yaml blueprints file -->
  <h1 class="customTitle">
    {{page.header.project.customField}}
  </h1>
    <h1 class="customTitle">
    {{page.header.projectText.customField}}
  </h1>
    <h1 class="customTitle">
    {{page.hheader.custom.coverImage}}
  </h1>

    <!-- main content / markdown area! -->
    <div class="mainContent">
      {{page.content}}
    </div>

</div>